<?xml version="1.0"?>
<configuration>
	
	<configSections>
		<sectionGroup name="system.web">
			<section name="galleryServerPro" type="GalleryServerPro.Configuration.GalleryServerProConfigSettings, GalleryServerPro.Configuration" allowDefinition="MachineToApplication" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	
	<connectionStrings>
		<clear/>
		<add name="SqlServerCeGalleryDb" providerName="System.Data.SqlServerCe.4.0" connectionString="data source=|DataDirectory|\GalleryServerPro_Data.sdf"/>
	</connectionStrings>
	
	<appSettings>
		<add key="ComponentArtScriptControls" value="PerControl"/>
	</appSettings>
	
	<system.web>
		
		<pages theme="" styleSheetTheme="" validateRequest="false" viewStateEncryptionMode="Always"/>
		
		<httpRuntime requestValidationMode="2.0"/>
		
		<galleryServerPro>
			<core galleryResourcesPath="gs"/>
			<dataProvider defaultProvider="SqlCeGalleryServerProProvider">
				<providers>
					<clear/>
					<add applicationName="Gallery Server Pro" connectionStringName="SqlServerCeGalleryDb" name="SqlCeGalleryServerProProvider" type="GalleryServerPro.Data.SqlCe.SqlCeGalleryServerProProvider"/>
				</providers>
			</dataProvider>
		</galleryServerPro>
		
		<!-- <trust level="Full" /> -->
		
		<globalization uiCulture="auto:en" culture="auto:en-US"/>
		
		<xhtmlConformance mode="Strict"/>
		
		<compilation debug="false" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		
		<!-- The <authentication> section enables configuration of the security authentication mode used by 
				 ASP.NET to identify an incoming user.
				The timeout is set to 129,600 minutes by default, which is 90 days. This allows the user to be automatically 
				logged in (requires selecting the "Remember Me" checkbox during login which sets a persistent cookie).
				Note that when the user clicks "Log out", the persistent cookie is removed and the user will have to 
				log in next time. -->
		<authentication mode="Forms">
			<forms protection="All" timeout="129600" slidingExpiration="true"/>
		</authentication>
		
		<authorization>
			<!--  <deny users="?" />-->
		</authorization>
		
		<!-- Configure the Membership provider.-->
		<membership defaultProvider="SqlCeMembershipProvider">
			<providers>
				<clear/>
				<add applicationName="Gallery Server Pro" name="SqlCeMembershipProvider" connectionStringName="SqlServerCeGalleryDb" passwordFormat="Clear" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="2" maxInvalidPasswordAttempts="50" enablePasswordReset="true" enablePasswordRetrieval="true" passwordAttemptWindow="10" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" type="GalleryServerPro.Data.SqlCe.SqlCeMembershipProvider"/>
			</providers>
		</membership>
		
		<!-- Configure the Role provider.-->
		<roleManager enabled="true" cacheRolesInCookie="true" cookieProtection="Validation" defaultProvider="SqlCeRoleProvider">
			<providers>
				<clear/>
				<add applicationName="Gallery Server Pro" connectionStringName="SqlServerCeGalleryDb" name="SqlCeRoleProvider" type="GalleryServerPro.Data.SqlCe.SqlCeRoleProvider"/>
			</providers>
		</roleManager>
		
		<httpHandlers>
			<add verb="*" path="ComponentArtScript.axd" type="ComponentArt.Web.UI.ScriptHandler,ComponentArt.Web.UI"/>
		</httpHandlers>
		
		<httpModules>
		</httpModules>
		
		<sessionState mode="InProc" timeout="60"/>
		
		<!-- The <customErrors> section controls what happens if/when an unhandled error occurs. This setting is
			ignored if EnableExceptionHandler=true in the gallery settings table.
			The mode attribute must be one of these values: Off (No redirection is performed; all users get detailed
			error message), On (all users are redirected to friendly error page), RemoteOnly (local users see detailed
			error message, remote users are redirected) -->
		<customErrors mode="RemoteOnly"/>
		
	</system.web>
	<!--
	The site admin area lets you specify the smtp server and port. If you need to specify a username and password, you 
	can do so here. When this section is configured, the smtp server and port in the site admin area is ignored, 
	so be sure to include the server and port here. Uncomment the section below to make it take effect. -->
	<!--
	<system.net>
		<mailSettings>
			<smtp>
				<network
						 host="relayServerHostname"
						 port="portNumber"
						 userName="username"
						 password="password" />
			</smtp>
		</mailSettings>
	</system.net>
	-->
	<!-- By default ASP.NET prevents file uploads larger than 4 MB. To change this, increase the maxRequestLength 
	attribute for all pages that host the Gallery Server Pro user control. Ex: To allow files up to 2 GB, use
	maxRequestLength="2097151". This value should be the same or higher than the Maximum Upload Size setting in
	the Site admin area. The maxUploadSize setting is the preferred way to manage upload sizes, as GSP provides 
	a friendly message when that value is  violated, which is not possible when maxRequestLength is violated.
	
	It is also recommended to increase the timeout from the default value 
	of 90 seconds to allow for long-running  tasks such as file uploads. Set the
	executionTimeout attribute to the desired value (8 hours = 28800, 24 hrs = 86400). -->
	<location path="default.aspx">
		<system.web>
			<httpRuntime maxRequestLength="2097151" executionTimeout="86400"/>
		</system.web>
	</location>
	
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647"/>
			</webServices>
			<scriptResourceHandler enableCompression="true" enableCaching="true"/>
		</scripting>
	</system.web.extensions>
	
	<system.webServer>
		<!-- By default IIS 7 restricts uploads larger than about 30 MB. To allow larger uploads, use the <requestFiltering>
			element to set a new value. The attribute maxAllowedContentLength is in bytes, so to set a new value of 2 GB,
			use 2147483648 (2 * 1024 * 1024 * 1024).
			Note: If you get an error that requestFiltering cannot be overriden you must edit 
			%windir%\System32\inetsrv\config\applicationHost.config file and change the string:
				<section name="requestFiltering" overrideModeDefault="Deny" />
			to:
				<section name="requestFiltering" overrideModeDefault="Allow" />

		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648"/>
			</requestFiltering>
		</security>
		-->
		
		<validation validateIntegratedModeConfiguration="false"/>
		
		<modules>
		</modules>
		
		<handlers>
			<remove name="ComponentArtScriptHandler"/>
			<add name="ComponentArtScriptHandler" path="ComponentArtScript.axd" type="ComponentArt.Web.UI.ScriptHandler,ComponentArt.Web.UI" verb="*"/>
		</handlers>
		
		<defaultDocument>
			<files>
				<remove value="default.aspx"/>
				<add value="default.aspx"/>
			</files>
		</defaultDocument>
		
	</system.webServer>
	
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlServerCe.4.0" />
			<add name="Microsoft SQL Server Compact Edition Client Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact Edition Client 4.0" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</DbProviderFactories>
	</system.data>
	
</configuration>