<?xml version="1.0"?>
<configuration>
	<!-- Increase the timeout of the page containing the web services. The timeout must be greater than the length
	of any synchronization. Since synching thousands of files may take hours, set a default of 24 hours (86400 seconds). -->
	<location path="Gallery.asmx">
		<system.web>
			<httpRuntime executionTimeout="86400" />
		</system.web>
	</location>
</configuration>